In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fake reviews dataset.csv")
df.head()

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [5]:
df['category'].value_counts(normalize=True)

Kindle_Store_5                  0.116987
Books_5                         0.108083
Pet_Supplies_5                  0.105214
Home_and_Kitchen_5              0.100317
Electronics_5                   0.098635
Sports_and_Outdoors_5           0.097596
Tools_and_Home_Improvement_5    0.095419
Clothing_Shoes_and_Jewelry_5    0.095172
Toys_and_Games_5                0.093837
Movies_and_TV_5                 0.088742
Name: category, dtype: float64

In [7]:
df['text_'][1]

"love it, a great upgrade from the original.  I've had mine for a couple of years"

In [8]:
df.isna().sum()

category    0
rating      0
label       0
text_       0
dtype: int64